---
layout: default
---
<h1>{{ page.title}}</h1>
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>


{% if page.podcast_link %}
<audio controls width="100%">
  <source src="{{ page.podcast_link_ogg }}" type="audio/ogg">
  <source src="{{ page.podcast_link }}" type="audio/mpeg">
  Your browser does not support playing the file here. Please download the file: <a href="{{ page.podcast_link_ogg }}">OGG</a> or <a href="{{ page.podcast_link }}">MP3</a>
</audio>
{% endif %}

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = "{{ site.url }}{{ page.url }}";
this.page.identifier = "{{ page.url }}";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://cong-nghiep-4-0-4.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//cong-nghiep-4-0-4.disqus.com/count.js" async></script>
{% endif %}
